* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	user-select: none;
}

i {
	font-style: inherit;
}

input {
	outline: none;
	-webkit-appearance: none;
}

.container {
	padding: .82rem 0 .44rem 0;
	box-sizing: border-box;
	font-size: .14rem;
}
